<ion-header>
  <ion-toolbar>
    <ion-title>
    <ion-icon name="leaf"> </ion-icon> Floreça <ion-icon name="rose"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    Este é um aplicativo com o intuito de mostrar ao usuário:
    <p> Dicas de como cuidar algumas plantas;
    <p> Quais são as plantas ideais para o seu estilo;
    <p>E links para cuidados específicos;
    </div>



    <ion-menu side="start" menuId="first">

    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>

  <ion-content>
    <ion-list>
      <ion-item>Perfil</ion-item>
      <ion-item>cadastro</ion-item>
      <ion-item>Perguntas</ion-item>
      <ion-item>Resultado</ion-item>
      <ion-item>Estatísticas</ion-item>
    </ion-list>
  </ion-content>

</ion-menu>
